<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleLogin.css">
    <title>Login</title>
     <!-- Favicon for various devices -->
     <link rel="icon" href="images/kaminkashiLogo.jpg" sizes="16x16" type="image/png">
   <link rel="icon" href="images/kaminkashiLogo.jpg" sizes="32x32" type="image/png">
   <link rel="icon" href="images/kaminkashiLogo.jpg" sizes="48x48" type="image/png">

   <!-- For iOS -->
   <link rel="apple-touch-icon" href="images/kaminkashiLogo.jpg" sizes="57x57">
   <link rel="apple-touch-icon" href="images/kaminkashiLogo.jpg" sizes="72x72">
   <link rel="apple-touch-icon" href="images/kaminkashiLogo.jpg" sizes="114x114">
   <link rel="apple-touch-icon" href="images/kaminkashiLogo.jpg" sizes="144x144">
   
   <!-- For Android -->
   <link rel="icon" type="image/png" href="images/kaminkashiLogo.jpg" sizes="192x192">
   <link rel="icon" type="image/png" href="images/kaminkashiLogo.jpg" sizes="512x512">
     
    <!-- Add your CSS stylesheets and other meta tags here -->

</head>

<body>

    <!-- Main Content Area -->
    <main>


        <!-- Login Form -->
        <div class="login-box">
            <h2>Login</h2>
            <% if (error) { %>
                <div id="errorMessage" style="color: red;">
                    <%= error %>
                </div>
                <% } %>

                    <form action="/login" method="POST">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>

                        <!-- Login and Clear Buttons -->
                        <div>
                            <button type="submit">Login</button>
                            <button type="reset" class="clear-button">Clear</button>
                        </div>
                    </form>

                    <!-- Sign Up Option -->
                    <div class="signup-link">
                        <p>Not a member yet? <a href="/signup">Sign Up</a></p>
                    </div>
        </div>

    </main>
    <script>
        // Wait for the DOM to be ready
        document.addEventListener('DOMContentLoaded', function () {
            // Find the error message element
            const errorMessage = document.getElementById('errorMessage');

            // If the error message exists, hide it after 2 seconds
            if (errorMessage) {
                setTimeout(function () {
                    errorMessage.style.display = 'none';
                }, 2000);
            }
        });
    </script>

</body>

</html>